@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Variables */
  --color-primary: #5d638f;
  --color-dark: #393e41;
  --color-light: #fbf5f3;
  --font-primary: "Open Sans", sans-serif;
  --height-nav: 9vh;
  --width-main: min(1100px, 90vw);
  --size-gameSquare: min(125px, 30vw);
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-primary);
}

/* Component Styling Rules */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem calc((100vw - var(--width-main)) / 2);
  height: var(--height-nav);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

main {
  width: var(--width-main);
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(3, var(--size-gameSquare));
}

.game-square {
  border: solid 2px var(--color-dark);
  height: var(--size-gameSquare);
  width: var(--size-gameSquare);

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-square > p {
  font-size: 4rem;
}

/* Class Styling Rules */
.bg-light {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.bg-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.bg-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.button {
  border: none;
  border-radius: 10px;
  padding: 1rem;
}

.text-dark {
  color: var(--color-dark);
}
